<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683488262101-epjhh7tiu3neq91dfnedojdgbuhfogff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683488262101-epjhh7tiu3neq91dfnedojdgbuhfogff</string>
	<key>API_KEY</key>
	<string>AIzaSyBgzsqZbLVd6E7ursBUemGfExI3bXMyMD0</string>
	<key>GCM_SENDER_ID</key>
	<string>683488262101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.r2am9d.apps.biteshaq.dev</string>
	<key>PROJECT_ID</key>
	<string>biteshaq-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>biteshaq-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683488262101:ios:21839e9a4c9824a4a22f5c</string>
</dict>
</plist>